server {

    server_name _;
    listen 80;

    access_log {{ logdir }}/nginx/access.log;
    error_log {{ logdir }}/nginx/error.log;


    # Статические файлы
    location /static/ {
        root {{ appdir }}/stackoversearch/;
    }

    location /templates/ {
        root {{ appdir }}/stackoversearch/;
    }

    # Gunicorn-proxy
    location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_buffering off;

        include proxy_params;
        proxy_pass http://127.0.0.1:8000;
    }
}
