[program:gunicorn]
command={{ envdir }}/bin/gunicorn -w 5 stackoversearch.stack_oversearch:app -k aiohttp.worker.GunicornWebWorker --access-logfile {{ logdir }}/gunicorn/access.log --error-logfile {{ logdir }}/gunicorn/error.log
directory={{ appdir }} 
user=bfg
autostart=true
autorestart=true
redirect_stderr=true
startsecs=10
startretries=3
exitcodes=0,2
stopsignal=TERM
stopwaitsecs=10
umask=022

[program:renewer]
command={{ envdir }}/bin/renewer_start
directory={{ appdir }}
user=bfg
autostart=true
autorestart=true
redirect_stderr=true
startsecs=10
startretries=3
exitcodes=0,2
stopsignal=TERM
stopwaitsecs=10
umask=022
