#!/bin/bash

#Patching configs in APP
sed -i 's/\/etc\///' {{ appdirstack }}/*.py

#CREATE ENV
cd {{ projdir }}
{{ pythonPath }}/python -m venv {{ envdir }}


source {{ envdir }}/bin/activate
cd {{ envdir }} 
pip install gunicorn
pip install -e {{ appdir }} 
deactivate

mysql -u root -p{{ mysql_root_password }} {{ appdb }} < {{ appdir }}/tables.sql